body {
  background: url(7536921_orig.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 15px; /* 5px rounded corners */
  width: 100%;
  height: 35vh;
  margin-bottom: 10vh;
  background: url(blue-pastel-wallpaper-images-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
}

h4 {
  text-align: center;
  border: 2px solid wheat;
  background-color: white;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 20px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.cardcontainer {
  padding: 2px 16px;
  height: 80%;
}

.fullscreen {
  width: 100%;
  height: 100vh;
}

.blankrow {
  width: 100%;
  height: 14vh;
  margin-bottom: 10vh;
}

.vertical {
  display: inline-block;
  width: 20%;
  height: 40px;
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}
.vertical {
  box-shadow: inset 0px 4px 6px #ccc;
}

input,
button {
  margin-left: 4px;
}
input {
  width: 83px;
}
button {
  width: 87px;
  padding: 5px 0px 5px 0px;
}

.titlebar {
  height: 5vh;
  text-align: center;
  color: red;
  font-size: 17px;
  border: 5px dotted black;
}

.barcontainer {
  border: 1px solid black;
  width: 100%;
  height: 85vh;
}

#bar-1,
#bar-2,
#bar-3,
#bar-4,
#bar-5,
#bar-6,
#bar-7,
#bar-8,
#bar-9,
#bar-10 {
  /* margin-top: 10%; */
  border: 1px solid white;
  width: 100%;
  height: 10%;
  background-color: wheat;
  opacity: 0.8;
}

.detail {
  text-align: center;
  font-size: 100px;
}

.unit {
  padding-top: 30%;
  font-size: 20px;
}

.warningMSG {
  text-align: center;
  font-size: 100px;
  color: white;
}

.center { 
    width:100px; 
    position:relative;
    top:50%; 
    left:50%;
}
